.arrow-right {
	margin-left: 1vh;
	font-size: 4rem;
	border: none;
	background: none;
}

.arrow-left {
	margin-right: 1vh;
	font-size: 4rem;
	border: none;
	background: none;
}

.buttons-div {
	display: flex;
	flex-direction: column;
}

.form-div {
	display: flex;
	height: 40vh;
}

button:disabled {
	color: black;
}
