.arrow-right {
	margin-top: 2vh;
	margin-left: 1vh;
	font-size: 5rem;
	border: none;
	background: none;
}

.arrow-left {
	margin-top: 2vh;
	margin-right: 1vh;
	font-size: 5rem;
	border: none;
	background: none;
}

.buttons-div {
	display: flex;
	flex-direction: column;
}

.form-div {
	display: flex;
	height: 40vh;
	margin-bottom: 5vh;
}

button:disabled {
	color: black;
}
